@model IEnumerable<GPorject.Models.User>

@{
    ViewData["Title"] = "用户列表";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="UserManagementCreate">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    string roleName = "";
                    foreach (var role in ViewData["Roles"] as List<Role>)
                    {
                        if (item.Role == role.ID)
                        {
                            roleName = role.RoleName;
                            break;
                        }
                    }
                }
                @(roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a asp-action="UserManagementEdit" asp-route-id="@item.ID">编辑</a> |
                <a asp-action="UserManagementDetails" asp-route-id="@item.ID">详细</a> |
                <a asp-action="UserManagementDelete" asp-route-id="@item.ID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
