@model IEnumerable<GPorject.Models.Problem>
@using Newtonsoft.Json;
@{
	ViewData["Title"] = "练习";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post" asp-action="Practice" id="Practice">
			@foreach (var item in Model) {

				int type;
				type = (int)item.Type;

				@if (type == 0)
				{
				<!-- 选择题 -->
					
					Choice choice = JsonConvert.DeserializeObject<Choice>(item.Describe);
					
					<div id="Choice" style="display:block;">
						<div class="form-group">
							<label class="control-label"> 题干
								<textarea class="form-control" rows="8" name="Describe">@choice.problem
								</textarea>
							</label>
						</div>
						<div class="form-group">
							<label class="control-label"> 选项一
								<input class="form-control" name="choiceOption[]" value="@choice.option[0]"/>
							</label>
							<label class="control-label"> 选项二
								<input class="form-control" name="choiceOption[]" value="@choice.option[1]"/>
							</label>
							<label class="control-label"> 选项三
								<input class="form-control" name="choiceOption[]" value="@choice.option[2]"/>
							</label>
							<label class="control-label"> 选项四
								<input class="form-control" name="choiceOption[]" value="@choice.option[3]"/>
							</label>
						</div>
						<div class="form-group">
							<label class="control-label"> 答案
								<select class="form-control" name="Answer">
									<option value="1">选项一</option>
									<option value="2">选项二</option>
									<option value="3">选项三</option>
									<option value="4">选项四</option>
								</select>
							</label>
						</div>
					</div>
				<!-- end 选择题 -->
				}
				@if (type == 1)
				{
				<!-- 判断题 -->
					<div id="Judge">
						<div class="form-group">
							<label class="control-label"> 题目
								<textarea class="form-control" rows="8" name="Describe" form="nosubmit">@Html.DisplayFor(model => item.Describe)
								</textarea>
							</label>
						</div>
						<div class="form-group">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="radio" name="Answer" value="1" form="nosubmit">
									对
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="radio" name="Answer" value="2" form="nosubmit">
									错
								</label>
							</div>
						</div>
					</div>
				<!-- end 判断题 -->
				}
				@if (type == 2)
				{
				<!-- 填空题 -->
					<div id="Fill">
						<div class="form-group">
							<label class="control-label"> 题目
								<textarea class="form-control" rows="8" name="Describe" form="nosubmit">@Html.DisplayFor(model => item.Describe)
								</textarea>
							</label>
							<!-- <small class="form-text text-muted">
								需要填空的位置，请使用这样的字符替代 %s 。例如，CPU由%s和%s组成
							</small> -->
						</div>
						<div class="form-group">
							<label class="control-label"> 答案
								<textarea class="form-control" rows="8" name="Answer" form="nosubmit">
								</textarea>
							</label>
							<!-- <small class="form-text text-muted">
								填空的答案请使用半角英文逗号隔开。例如，运算器,控制器
							</small> -->
						</div>
					</div>
				<!-- end 填空题 -->
				}
				@if (type == 3)
				{
				<!-- 简答题 -->
					<div id="ShortAnswer">
						<div class="form-group">
							<label class="control-label"> 题目
								<textarea class="form-control" rows="8" name="Describe" form="nosubmit">@Html.DisplayFor(model => item.Describe)
								</textarea>
							</label>
						</div>
						<div class="form-group">
							<label class="control-label"> 答案
								<textarea class="form-control" rows="8" name="Answer" form="nosubmit">
								</textarea>
							</label>
						</div>
					</div>
				<!-- end 简答题 -->
				}
			}
			<div class="form-group">
				<input type="submit" value="提交" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a href="javascript:history.back();">返回列表</a>
</div>