@model GPorject.Models.Specialty

@{
	ViewData["Title"] = "专业详细";
}

<div>
	<h4>@ViewData["Title"]</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ID)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ID)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FacultyName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FacultyName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CreateTime)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CreateTime)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.UpdateTime)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.UpdateTime)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="SpecialtyEdit" asp-route-id="@Model.ID">编辑</a> |
	<a asp-action="SpecialtyIndex">返回列表</a>
</div>
