<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @ViewData["PojectName"]</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  crossorigin="anonymous"
			  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
	</environment>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["PojectName"]</a>
				@if (!String.IsNullOrEmpty(ViewData["Role"].ToString()))
				{
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
						<ul class="navbar-nav flex-grow-1">
							<!-- <li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
							</li> -->
							@if (ViewData["Role"].ToString().Equals("1"))
							{
								<li class="nav-item dropdown">
									<a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">系统</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" asp-area="" asp-controller="SystemManagement" asp-action="UserManagementIndex">用户列表</a>
										<!-- <a class="dropdown-item" href="#">角色列表</a> -->
										<!-- <a class="dropdown-item" href="#">路由列表</a> -->
									</div>
								</li>
							}
							@if (ViewData["Role"].ToString().Equals("2"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="FacultyIndex">系</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SpecialtyIndex">专业</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubjectIndex">学科</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ClassesIndex">班级</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="TeacherIndex">老师</a>
								</li>
							}
							@if (ViewData["Role"].ToString().Equals("3"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="KnowledgePointIndex">知识点</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="ExerciseIndex">组卷</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="ExamIndex">考试</a>
								</li>
							}
							@if (ViewData["Role"].ToString().Equals("4"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="PracticeIndex">练习</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="ExamIndex">考试</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="StudyLog">学习日志</a>
								</li>
							}
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@ViewData["UserName"]</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ChangePassWord">修改密码</a>
									<a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Quit">退出</a>
								</div>
							</li>
						</ul>
					</div>
				}
			</div>
		</nav>
	</header>
	<div class="container">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="pb-3">
			@{
				var alertMsg = ViewData["AlertMsg"] as AlertMsg;
			}
			@if (alertMsg != null)
			{
				<div class="alert alert-@alertMsg.Type.ToString() alert-dismissible fade show" role="alert">
					@alertMsg.Content
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			}

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; @string.Format("{0:yyyy}", DateTime.Now) - @ViewData["PojectName"]</a>
		</div>
	</footer>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
		</script>
	</environment>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)

	<script>
		$(function($) {
			$("[data-confirm]").on("click", function() {
				message = $(this).data('confirm');
				if (message === undefined) {
					return true;
				}
				if (!confirm(message)) {
					return false;
				}
			});
		});
	</script>

</body>
</html>
