@model IEnumerable<GPorject.Models.ViewExam>

@{
	ViewData["Title"] = "考试列表";
}

<h2>@ViewData["Title"]</h2>
<p>
	<a asp-action="ExamCreate">新建</a>
</p>
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SubjectName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExerciseName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreateTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdateTime)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SubjectName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExerciseName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EndTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreateTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UpdateTime)
			</td>
			<td>
				<a asp-action="SubjectEdit" asp-route-id="@item.ID">评卷</a> |
				<a asp-action="SubjectDetails" asp-route-id="@item.ID">成绩分析</a> |
			</td>
		</tr>
}
	</tbody>
</table>
